DayLight Dose.xcodeproj/project.xcworkspace/xcuserdata/mayankverma.xcuserdatad/UserInterfaceState.xcuserstate
DayLight Dose.xcodeproj/project.xcworkspace/xcuserdata/avineetsingh.xcuserdatad/UserInterfaceState.xcuserstate
/DayLight Dose.xcodeproj/project.xcworkspace
*.xcuserstate
.DS_Store
